
#top-inputs {
  position: absolute;
  text-align: center;
  left: 50px;
  top: 90px;
  width: 675px;
  background-color: rgb(250, 120, 120);
  color: black;
  border: none;
  border-width: 1px;
  border-color: white;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#text-input {
  background-color: rgb(250, 190, 190);
  font-size: 0.65em;
  padding: 5px;
  margin-right: 4px;
  border-radius: 8px;
}

button, #submit{
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  margin-right: 6px;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  transition: 0.2s;
}

button:hover , #submit:hover {
	background-color: rgb(190, 100, 255);
}

#score-table {
    text-align: center;
    position: absolute;
    top: 250px;
    left: 110px;
    width: 440px;
}

#high-score-table-heading {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(255, 40, 40);
    margin-bottom: 20px;
}

#high-score {
  
  border-collapse: separate;
}

#high-score th, #high-score td {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
}

#high-score th {

  font-size: 1.1em;
  padding: 12px;
  background-color: rgb(250, 110, 110);
  color: rgb(0,0,0)
}

#high-score tr:nth-child(even) {

  background-color: rgb(255, 160, 160);
}
