body {

  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: rgb(180, 180, 250);

}

nav {

  background-color: rgb(80, 80, 240);
  margin: 0;
  overflow: hidden;

}

nav ul {

  margin: 0;
  padding: 0;
}


nav ul li {
  display: inline-block;
  list-style-type: none;
  transition: 0.3s;
}


nav > ul > li > a {

  color: rgb(255,255,255);
  display: block;
  line-height: 3em;
  padding: 0.2em 0.6em;
  text-decoration: none;
}

nav li:hover {

  background-color: rgb(130, 130, 250);
}

#kerpe {
  padding-left: 40%;
}
