/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2016, 4:30:12 PM
    Author     : Kermit
*/



#settings-bar{
    background-color: rgba(100,100,200,0.4);
    margin: 50px;
    padding: 5px;
    display: inline-block;
    border-radius: 7px;
}

#input-player {
    margin-left: 10px;
}

#upload-btn
{
    opacity: 0.3;
}

#player-list {
    background-color: rgba(100,100,230,0.4);
    color: white;
    height: 200px;
    width: 130px;
    position: absolute;
    left: 280px;
    top: 70px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
}

#player-list::first-line
{
    color: rgb(40, 40, 250);
    font-weight: bold;
    font-size: 1.1em;
}

#dice-bar {
    background-color: rgba(100,100,200,0.4);
    width: 400px;
    padding: 5px;
    padding-left: 3px;
    border-radius: 7px;
    margin-left: 20px;
    text-align: center;

}

.dice-buttons {
    background: none;
    border: none;
    margin-top: 6px;
    margin-left: 3px;
    opacity: 0.3;
}

#roll {
    align-self: center;
    width: 360px;
    border-radius: 5px;
    border-bottom: none;
    padding: 5px 5px;
    padding-bottom: 5px;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-right: 8px;
    color: white;
    display: inline-block;
    opacity: 0.3;

}

#roll:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

#roll {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

#roll:hover {
    background-color: #6FC6FF;
}

.setScore {
    border: 2px solid red;
}

#player-name {
    font-size: 18px;
    padding: 3px;
}

#score-table {
    position: absolute;
    top: 58px;
    left: 520px;
    border-radius: 5px;
    background-color: rgba(100,100,200,0.4);
    overflow: hidden;
    display: inline-block;
    padding: 2px;
    
}

#score-table td {
    border: 2px solid white;
    background-color: rgb(130, 130, 255);
    color: white;
    padding: 2px;
    border-radius: 4px;
    font-size: 16px;
}

#score-table .labels--Clickabel {
   background-color: rgb(100, 190, 255);
    color: black; 
}


#score-table td:not(#labels):hover {
    background-color: rgb(100,100,255);
    color: white;
    transition: .2s;
    
}

.setPoints {
    border: 2px solid greenyellow;
}


.points {
    width: 40px;
}

.blue-text {
    color: rgb(40, 40, 250);
    font-weight: bold;
    font-size: 1.05em;
}

#score-table #labels {
    background-color: rgb(130, 130, 255);
    color: white;
}

#input-player {
    text-align: center;
    background-color: rgb(100,100,220);
    width: 116px;
    padding: 10px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.buttons {
    text-decoration: none;
    color: #55acee;
    border-bottom: 1px solid #55acee;
    transition: .3s;
}

.buttons {
    width: 130px;
    border-radius: 5px;
    padding: 10px 10px;
    padding-bottom: 5px;
    font-size: 17px;
    text-decoration: none;
    margin: 3px;
    color: #fff;
    display: inline-block;
}

.buttons:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.buttons {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.buttons:hover {
    background-color: #6FC6FF;
}
